main {
    text-align: center;
}



body {
    font-family: 'Roboto', sans-serif;
    background-image: url('galaxy.png');
    background-attachment:         fixed;
    background-position:           center;
    background-repeat:             no-repeat;
    background-size:               cover;
}


header {
    width: 100%;
    min-height: 5em;
}

.zoekveld {
     width: 450px;
     border-bottom: 2px solid black;
     background-color: transparent;
     border-left: none;
     border-right: none;
     border-top: none;
    margin: 0 auto;
}


.zoeken {
     background-color: transparent;
     border: none;
    margin: 0 auto;
}

.zoekbar {
    margin-left: 500px;
}


.omhulsel {
    padding: 25px;
    width: 600px;
    height: 300px;
    background-color: rgba(255,255,255, 0.8);
    margin: 25px auto;
    border-radius: 5px;
    border: 5px solid rgba(21, 22, 22,0.5);
}

.titelartikel {
    line-height: 100px;
    margin: 0;
}


.tekst {
    margin-top: 10px;
    word-wrap: break-word;

}

.artikelafbeelding {
    max-width: 100%;
    height: 100px;
    float: right;

}

.fas,
.fab{
    margin-right: 10px;
}


.fa-search {
    font-size: 32px;
}

.fa-search:hover {
    color: white;
}


.vorige {

    text-decoration: none;
    color: white;


}

.volgende {

      text-decoration: none;
      color: white;

  }

.eerste {

    text-decoration: none;
    color: white;

}

.laatste {

    text-decoration: none;
    color: white;

}

.main {
    border-left: 1px solid white;
    height: 100px;
}


header {
    height: 40px;

}

header h1 {
    color: white;

}





.navbar {
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 30px;
    margin-left: 10px;
}


.navbar a {
    text-decoration: none;
   color: #272728;
    margin-right: 10px;
    padding: 10px;
    text-shadow: 1px 1px 10px;





}

.admin-login {
    color: white;

    padding: 10px;
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
}

.admin-login a {
    text-decoration: none;
    color: #272728;
    text-shadow: 1px 1px 10px;
}

.admin-login a:hover,
.navbar a:hover {
    color: rgba(255, 255, 255, 0.3);

}


.info {
   float: right;
}


